<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/time" method="POST">
    Number: <input type="text" name="number"><br>
    From: <input type="text" name="from"><br>
   to: <inp
   ut type="text" name="to"><br>

    <button>convert</button>
    </form>
    
  </body>
</html>
